<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913940408102-prpscve68k0rv56n691e88jcuej92ae8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913940408102-prpscve68k0rv56n691e88jcuej92ae8</string>
	<key>API_KEY</key>
	<string>AIzaSyBxUeM39SgtN5N_xN4-_vaYuS52Tkmqy58</string>
	<key>GCM_SENDER_ID</key>
	<string>913940408102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.keepcoding.ChatKeepcoding-erisco2020</string>
	<key>PROJECT_ID</key>
	<string>fir-keepcoding10-erisco</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-keepcoding10-erisco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913940408102:ios:ec943a53f468e8e39a83e7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-keepcoding10-erisco.firebaseio.com</string>
</dict>
</plist>